@charset "UTF-8";


/* cores

verde: #49a09d
lilás: #5f2c82

*/

body{
    width: 90vw;
    background-image: url(../imagens/tela-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main > section{
    font-family: 'Courier New', Courier, monospace;
}
